html{
	background:no-repeat url("./images/guitar.jpg");
	background-size:cover;
	height: 100vh;
	width: 100vw;
}
.corps{
	
	position:relative;
	size:100%;
	
}
.divForm{
	display:grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-template-rows: 6fr 2fr;
}
h1{
	text-align:center;
}
.barreLogin{
	display:flex;
	flex-wrap:wrap;
	align-items: flex-start;
 	justify-content: space-between;
	height:60px;
	background-color:#245455;
	padding:5px;
	color: white;
}

.barreLogin *{
	margin-top:auto;
	margin-bottom:auto;
	position:relative;
	vertical-align: middle;
	
}
a, input[type=submit]{
	padding:10px 20px;
	border: 2px solid #2d746b;
	background-color:#c5e4e4;
	text-decoration: none;
	color: black;
	margin-right: 40px;
}
a:hover, input[type=submit]:hover{
	filter: brightness(50%);
}
.grille{
	text-align:left;
	/* width:600px; */
	display:grid;
	
	column-gap:20px;
	row-gap:10px;
	margin-bottom:10px;
}
.col-2{
	grid-template-columns: 100px 400px;
}
.col-2-large{
	grid-template-columns: 300px 400px;
}
.col-3{
	grid-template-columns: 100px 400px 200px;

}

.row-2{
	grid-template-rows: repeat(2, 1fr);
}
.row-3{
	grid-template-rows: repeat(3, 1fr);
}
.row-5{
	grid-template-rows: repeat(5, 1fr);

}
.row-6{
	grid-template-rows: repeat(6, 1fr);
}
.row-8{
	grid-template-rows: repeat(8, 1fr);
}
.div-ligne{
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows:1fr;
	column-gap:2px;
}
.red{
	color:red;
}
.grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.ligne{
	display:flex;
}
.ligne p{
	margin-right:15px;
}
.gauche{
	text-align:left;
}
.even{
	justify-content:space-between;
}
.erreur{
	color: red;
	font-size: 20px;
}
#selectMembre{
	margin-bottom:10px;
}